<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.backend.backend.mapper.PresentationMapper">

    <resultMap id="PresentationResultMap" type="com.backend.backend.Entity.Presentation">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="startedAt" column="started_at"/>
        <result property="endedAt" column="ended_at"/>
        <result property="createdAt" column="created_at"/>
        <association property="account" javaType="com.backend.backend.Entity.Account">
            <id property="id" column="account_id"/>
        </association>
    </resultMap>


    <select id="findAll" resultMap="PresentationResultMap">
        SELECT id, account_id, title, started_at, ended_at, created_at
        FROM presentation
    </select>


    <select id="findById" resultMap="PresentationResultMap">
        SELECT id, account_id, title, started_at, ended_at, created_at
        FROM presentation
        WHERE id = #{id}
    </select>

    <select id="findByAccountId" resultMap="PresentationResultMap">
        SELECT id, account_id, title, started_at, ended_at, created_at
        FROM presentation
        WHERE account_id = #{accountId}
    </select>

    <insert id="insert" parameterType="com.backend.backend.Entity.Presentation"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO presentation (account_id, title, started_at, ended_at, created_at)
        VALUES (#{account.id}, #{title}, #{startedAt}, #{endedAt}, #{createdAt})
    </insert>

    <update id="update" parameterType="com.backend.backend.Entity.Presentation">
        UPDATE presentation
        SET account_id = #{account.id},
            title = #{title},
            started_at = #{startedAt},
            ended_at = #{endedAt}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM presentation
        WHERE id = #{id}
    </delete>

</mapper>
